button{

  background-color: black;

  color: white;

  border-radius: 0.7rem;

  padding: 5px;

  top: 10px;

  text-align: center;

}

label{

  padding: 4px;

  border-radius: 0.5rem;

  left: 480px;
}

span{

  font-style:normal;

  top: 1px;

  left: 505px;
}

#assunto, #email{

  width: 200px;

  border: 1px solid black;

  padding: 4px;

  border-radius: 0.5rem;  
}

textarea{

  border: 1px solid black;

  padding: 4px;

  border-radius: 0.5rem;  

  top: 15px;

  width: 200px;

  height: 100px;
}

form{

  border: 2px solid rgb(0, 0, 0);

  top: 50px;

  position: relative;

  text-align:center;
}
 
#centro{
 
  position: relative;

  text-align: center;

  width: 40%;

  width: 100%;

  align-items: center;

  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  justify-content: center;

  background-color: #fdb8b8;

  padding:120px 0;
}

h1{

  position: relative;

  top: -20px;

  left: 10px;

  font-size:40px;

  font-weight:bold;

  letter-spacing:20px;

  color:#f5506e;

}